html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}html{scroll-behavior:smooth}body{line-height:1}a{text-decoration-skip-ink:auto}button{outline:0}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent;transition:all 0.5s ease}

body{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;font-size:16px;color:#777;line-height:normal;word-wrap:break-word;background:#222}

h1, h2, h3, h4, h5, h6{font-weight:bold;margin-bottom:30px}
h2, h3, h4, h5, h6{margin-top:40px}
h1{font-size:35px}
h2{font-size:30px}
h3{font-size:25px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{margin:30px 0}
.entry-content p{font-size:18px;line-height:145%}
* p:last-of-type, #sidebar .widget-container:last-child{margin-bottom:0}
a{color:#09f}
strong{font-weight:bold}
em{font-style:italic}
pre{overflow-x:auto;white-space:pre-wrap}
pre, code{font-family:'courier new',courier,serif}
hr{height:1px;border:0;margin:30px 0;background:#ccc}
blockquote{padding:15px;border-left:4px solid #ccc;margin:30px 0}
blockquote p:first-of-type{margin-top:0}
#content ul, #content ol{text-indent:-20px;margin:30px 0 30px 40px}
#content ul ul, #content ol ol{margin-top:0;margin-bottom:0}
#content ol{list-style:decimal inside;text-indent:-27px}
#content ul li:before{content:"— "}
#content li{line-height:125%;margin:10px 0}
input, textarea{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;padding:15px;border:0;outline:0;margin-top:10px;background:#f6f6f6}
input[type="submit"], #menu .toggle:hover{cursor:pointer}
input[type="search"]{-webkit-appearance:textfield}
a img, input[type="image"], iframe{border:0}
img, video, audio, table, select, textarea{max-width:100% !important;height:auto}
table{width:100%;margin:30px 0}

#wrapper{max-width:100%;margin:0 auto}
#header, #container, #footer{padding:5%}
#logo{width:100% !important;max-width:300px !important}
#container{background:#fff}
#container:after{display:table;content:"";clear:both}
#content{width:75%;padding-right:5%;float:left}
#sidebar{width:25%;float:right}
.widget-container{margin-bottom:60px}
#footer{clear:both}

#menu{margin-top:20px}
#menu ul, #menu ul li{display:inline;margin:0;padding:0;list-style:none}
#menu ul li{position:relative}
#menu ul li a{display:inline-block;font-size:18px;color:#fff;text-decoration:none;line-height:33px;padding-bottom:10px;margin-top:-1px;margin-right:25px}
#menu ul li a:hover{color:#777;text-decoration:none}
#menu ul li.parent > a:after{font-family:serif;content:' ▾'}
#menu ul li ul{display:none;position:absolute;top:30px;left:0;z-index:1000}
#menu ul li:hover ul{display:inline-block}
#menu ul ul{display:none}
#menu ul li:hover ul{display:block}
#menu ul li:hover ul li a{width:250px;font-size:14px;color:#333;line-height:20px;padding:15px;border:1px solid #eee;background:#fff}
#menu ul li:hover ul li a:hover{color:#777}
#menu .toggle{display:none;color:#fff;text-align:center}
#menu .menu-icon{font-size:60px}

.socialshare, .socialshare *{box-sizing:border-box;-webkit-tap-highlight-color:transparent;transition:all 0.5s ease;padding:0;border:0;margin:0}
.socialshare{font-size:0;margin:30px auto}
.socialshare a{display:inline-block;width:25%;font-family:arial;font-size:16px;color:#fff;text-align:center;text-decoration:none;line-height:0;padding:15px 0;background:#000}
.socialshare a.facebook{background:#3B5998}
.socialshare a.twitter{background:#1DA1F2}
.socialshare a.email{background:#222}
.socialshare a.print{background:#777}
.socialshare a:hover{opacity:0.8}
.socialshare .icon{display:inline-block;width:20px;height:20px}
.socialshare .text{position:relative;top:-4px;margin-left:10px}

.button, button, input[type="submit"]{display:inline-block;font-family:georgia,serif;font-size:18px;color:#fff;text-align:center;text-decoration:none;padding:15px 25px;border:0;background:#09f;opacity:1}
.button:hover, button:hover, input[type="submit"]:hover{cursor:pointer;opacity:0.8}
#site-title a{font-size:40px;font-weight:normal;color:#fff;text-decoration:none;display:inline}
.entry-title, .widget-title{margin-top:0}
#comment{width:100%;max-width:400px !important;height:auto}
#social{text-align:center;margin-bottom:20px}
#social a{color:#fff}
#social svg{display:inline-block;width:48px;height:48px;margin:5px}
#social svg:hover{opacity:0.9}
#copyright, #copyright a{font-size:14px;color:#aaa;text-align:center}

.note{display:block;font-size:14px;padding:20px;margin:30px 0}

.blue, .blue *, .blue-dark, .blue-dark *, .green, .green *, .green-dark, .green-dark *, .orange, .orange *, .purple, .purple *, .red, .red *, .black, .black *{color:#fff}
.white, .white *, .yellow, .yellow *{color:#000}
.white{background-color:#fff !important}
.blue{background-color:#09f !important}
.blue-dark{background-color:#1c78b5 !important}
.green{background-color:#91da29 !important}
.green-dark{background-color:#5d8c1a !important}
.orange{background-color:#f98733 !important}
.purple{background-color:#bb6cf8 !important}
.red{background-color:#ef645d !important}
.yellow{background-color:#f8f658 !important}
.black{background-color:#4a4a45 !important}
.lighter{background-color:rgba(255,255,255,0.05)}
.darker{background-color:rgba(0,0,0,0.05)}

.box, .box-2, .box-3, .box-4, .box-5, .box-6, .box-1-3, .box-2-3{display:inline-block;width:100%;padding:5%;vertical-align:top;float:left}
.box-2{width:50%}
.box-3, .box-1-3{width:33.3333333%}
.box-4{width:25%}
.box-5{width:20%}
.box-6{width:16.6666667%}
.box-2-3{width:66.6666666%}

.left{text-align:left}
.center{text-align:center}
.right{text-align:right}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.clear-left{clear:left}
.clear-right{clear:right}
.clear-float:after, .boxes:after{display:table;content:"";clear:both}

@media(max-width:1024px){.box-5, .box-6{width:25%}.boxes .box-5:nth-child(5){width:100%}.boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6){width:50%}}
@media(max-width:768px){#header, #footer{text-align:center}#content, #sidebar{width:100%;padding:5% 0}.widget-container{margin:30px 0 0}.socialshare .text{display:none}#menu.checked{width:100%;height:100%;bottom:0;overflow-x:hidden;overflow-y:auto;z-index:1000}#menu label.toggle{display:block}#menu ul, #menu ul ul{display:none}#menu input.toggle:checked + ul, #menu input.toggle:checked + ul ul{display:block;position:relative;top:0;padding:0}#menu input.toggle:checked + ul{padding-bottom:10px}#menu input.toggle:checked + ul li a, #menu input.toggle:checked + ul ul li a{display:inline-block;width:100%;font-size:18px;color:#fff;line-height:20px;padding:15px 0 5px;border:0;margin:0;background:none}#menu input.toggle:checked + ul ul li a{color:#ccc}.box-4, .box-5, .box-6{width:50%}}
@media(max-width:767px){.box-3{width:50%}.boxes .box-3:nth-child(3){width:100%}}
@media(max-width:480px){#header, #container, #footer{padding:10%}#content, #sidebar{padding:10% 0}#social svg{width:32px;height:32px}input, textarea, .button{width:100%}input[type="checkbox"], input[type="radio"]{width:auto}.box-2, .box-3, .box-4, .box-5, .box-6, .boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6), .box-2-3, .box-1-3{width:100%}}
@media print{#content{width:100%;color:#000;padding:0;margin:0;background:#fff;float:none}#header, #sidebar, #footer{display:none}}

.url{display:none}